body {
  align-items: center;
  background-color: #ba46e7;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 98vh;
  justify-content: center;
}
.container {
  background-color: #7896e7;
  border-radius: 30px;
  height: 100%;
  padding: 8px 30px;
  width: 80%;
}
h1 {
  font-size: 50px;
  margin: 0;
  padding: 24px;
  text-align: center;
}
div {
  margin: 20px 0;
}
input {
  font-size: 28px;
  padding: 8px;
}
.busca {
  width: 70%;
}
.id {
  width: 50%;
}
.btn {
  background-color: #b2cf62;
  font-size: 32px;
  font-weight: bold;
  padding: 9px;
}

.btn:hover {
  background-color: rgb(76, 201, 45);
  color: #d7da2e;
  cursor: pointer;
}
label {
  font-size: 32px;
  margin: 16px 0;
}
table {
  border: 3px solid black;
  text-align: center;
  width: 85%;
}
th {
  background-color: hsl(0, 81%, 89%);
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

