body {
  align-items: center;
  background-color:  #ac0ef5;
  display: flex;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  justify-content: center;
}
.container {
  background-color: #7896e7;
  border-radius: 30px;
  padding: 30px;
}
h1 {
  font-size: 50px;
  margin: 0;
  padding: 24px;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
}
label {
  font-size: 32px;
  margin: 16px 0;
}
input {
  font-size: 32px;
  padding: 8px;
}
button {
  background-color: #b2cf62;
  border-radius: 16px;
  font-size: 32px;
  font-weight: bold;
  margin-top: 32px;
  padding: 16px;
}
button:hover {
  background-color:  rgb(76, 201, 45);
  color: #d7da2e;
  cursor: pointer;
}